/* Fixed styles 
*********************************************************************
*/

.xb-slide .slide-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.xb-slide .xb-slide-figure,
.xb-slide figure {
	z-index: 1;
}

.xb-slide img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
}

.xb-slide .xb-slide-figcaption,
.xb-slide figcaption {
	position: absolute;
	left: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: opacity .1s ease-out;
	-moz-transition: opacity .1s ease-out;
	-o-transition: opacity .1s ease-out;
	-ms-transition: opacity .1s ease-out;
	transition: opacity .1s ease-out;
}

.xb-slide .xb-slide-figcaption h1,
.xb-slide figcaption h1 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.xb-slide .xb-slide-figcaption p,
.xb-slide figcaption p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.xb-slide .slide-timer {
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	opacity: .8;
	filter: alpha(opacity=80); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
	font-size: 1px;
}

.xb-slide .slide-playing {
	-webkit-transition-property: width;
	-moz-transition-property: width;
	-o-transition-property: width;
	-ms-transition-property: width;
	transition-property: width;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear;
	width: 100%;
}

.xb-slide .slide-step-nav,
.xb-slide .slide-play-pause {
	display: none;
	position: absolute;
	top: 0;
	right: -1px;
	left: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.xb-slide .slide-step-nav li {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 8%;
	z-index: 2;
}

.xb-slide .slide-step-nav li:first-child {
	left: 0;
	right: auto;
}

.xb-slide .slide-step-nav a,
.xb-slide .slide-play-pause a {
	display: block;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.xb-slide .slide-play-pause a {
	width: 100%;
	margin-left: -50%;
	margin-top: -50%;
}

.xb-slide .slide-container:hover .slide-step-nav,
.xb-slide .slide-container:hover .slide-play-pause {
	display: block;
}

.xb-slide a.slide-pause {
	background-image: url(../theme/pause.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/pause.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/pause.png', sizingMethod='scale')";
	background-image: none,url(../theme/pause.svg), linear-gradient(transparent, transparent);
}

.xb-slide a.slide-play {
	background-image: url(../theme/play.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/play.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/play.png', sizingMethod='scale')";
	background-image: none,url(../theme/play.svg), linear-gradient(transparent, transparent);
}

.xb-slide a.slide-step-nav-prev {
	background-image: url(../theme/back-thin.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/back-thin.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/back-thin.png', sizingMethod='scale')";
	background-image: none,url(../theme/back-thin.svg), linear-gradient(transparent, transparent);
}

.xb-slide a.slide-step-nav-next {
	background-image: url(../theme/forward-thin.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/forward-thin.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../theme/forward-thin.png', sizingMethod='scale')";
	background-image: none,url(../theme/forward-thin.svg), linear-gradient(transparent, transparent);
}

.xb-slide .slide-play-pause li {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	z-index: 3;
}

.xb-slide .slide-bullet-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
}

.xb-slide .slide-bullet-nav li {
	display: inline-block;
	margin: 1em .4em;
	text-indent: 100%;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	-o-border-radius: 99em;
	-ms-border-radius: 99em;
	border-radius: 99em;
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	-ms-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.xb-slide .slide-bullet-nav .slide-bullet-set {
	cursor: default;
}

.xb-slide .slide-hidden {
	display: none;
}

/***************************************************
*
* Animations
*
****************************************************/

/* Fade Animation */
.slide-fade {
	-webkit-transition: opacity linear .75s;
	-moz-transition: opacity linear .75s;
	-o-transition: opacity linear .75s;
	-ms-transition: opacity linear .75s;
	transition: opacity linear .75s;
	opacity: 1;
	filter: alpha(opacity=100); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /*IE8*/
}

/* Ken Burns Animation */
.slide-ken-burns img {
	transition: all linear 25s;
}

/* Glide Animation */
.slide-glide-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.slide-glide-container figure {
	position: absolute !important;
	width: 50%;
	height: 100%;
	left: 0;
}

.slide-glide-container.slide-glide-active {
	-webkit-transform: translateX(-50%) translateZ(0);
	-moz-transform: translateX(-50%) translateZ(0);
	-o-transform: translateX(-50%) translateZ(0);
	-ms-transform: translateX(-50%) translateZ(0);
	transform: translateX(-50%) translateZ(0);
}

.slide-glide-container.slide-glide-active-reverse {
	-webkit-transform: translateX(50%) translateZ(0);
	-moz-transform: translateX(50%) translateZ(0);
	-o-transform: translateX(50%) translateZ(0);
	-ms-transform: translateX(50%) translateZ(0);
	transform: translateX(50%) translateZ(0);
}

/* Parallax Animation */
.slide-parallax-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide-parallax-container figure {
	position: absolute !important;
	width: 100%;
	height: 100%;
	left: 0;
}

.slide-parallax-container .slide-parallax-item {
	-webkit-transition: all 6s linear;
	-moz-transition: all 6s linear;
	-o-transition: all 6s linear;
	-ms-transition: all 6s linear;
	transition: all 6s linear;
}

.slide-parallax-container .slide-parallax-item figcaption,
.slide-parallax-container .slide-parallax-new-item figcaption {
	-webkit-transition: all 9s linear, opacity .1s linear;
	-moz-transition: all 9s linear, opacity .1s linear;
	-o-transition: all 9s linear, opacity .1s linear;
	-ms-transition: all 9s linear, opacity .1s linear;
	transition: all 9s linear, opacity .1s linear;
}

.slide-parallax-container .slide-parallax-new-item,
.slide-parallax-container .slide-parallax-new-item figcaption {
	-webkit-transition: all .75s ease-out, opacity .1s linear;
	-moz-transition: all .75s ease-out, opacity .1s linear;
	-o-transition: all .75s ease-out, opacity .1s linear;
	-ms-transition: all .75s ease-out, opacity .1s linear;
	transition: all .75s ease-out, opacity .1s linear;
}

.slide-parallax-container.slide-parallax-active figure {
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.slide-parallax-container.slide-parallax-active-reverse figure,
.slide-parallax-container.slide-parallax-active .slide-parallax-item figcaption,
.slide-parallax-container.slide-parallax-active-reverse .slide-parallax-item figcaption {
	-webkit-transform: translateX(100%) translateZ(0);
	-moz-transform: translateX(100%) translateZ(0);
	-o-transform: translateX(100%) translateZ(0);
	-ms-transform: translateX(100%) translateZ(0);
	transform: translateX(100%) translateZ(0);
}

.slide-parallax-reverse.slide-parallax-active .slide-parallax-item figcaption,
.slide-parallax-reverse.slide-parallax-active-reverse .slide-parallax-item figcaption {
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.slide-parallax-container .slide-parallax-new-item figcaption {
	-webkit-transform: translateX(50%) translateZ(0);
	-moz-transform: translateX(50%) translateZ(0);
	-o-transform: translateX(50%) translateZ(0);
	-ms-transform: translateX(50%) translateZ(0);
	transform: translateX(50%) translateZ(0);
}

.slide-parallax-reverse .slide-parallax-new-item figcaption {
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.slide-parallax-container.slide-parallax-active .slide-parallax-new-item figcaption,
.slide-parallax-container.slide-parallax-active-reverse .slide-parallax-new-item figcaption {
	-webkit-transform: translateX(0%) translateZ(0);
	-moz-transform: translateX(0%) translateZ(0);
	-o-transform: translateX(0%) translateZ(0);
	-ms-transform: translateX(0%) translateZ(0);
	transform: translateX(0%) translateZ(0);
}

/* Fold Animation */
.slide-fold-container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.slide-fold-container figure {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.slide-fold-container .slide-fold-old {
	position: absolute;
	top: 0;
	left: 0;
}

.slide-fold-container .slide-fold-new {
	left: 100%;
}

.slide-fold-odd, .slide-fold-even {
	-webkit-transform: translate3d(100%,0,0) rotateY(0deg);
	-moz-transform: translate3d(100%,0,0) rotateY(0deg);
	-o-transform: translate3d(100%,0,0) rotateY(0deg);
	-ms-transform: translate3d(100%,0,0) rotateY(0deg);
	transform: translate3d(100%,0,0) rotateY(0deg);
}

.slide-fold-active .p1,
.slide-fold-active .slide-fold-new {
	-webkit-transform: translate3d(0%,0,0) rotateY(90deg);
	-moz-transform: translate3d(0%,0,0) rotateY(90deg);
	-o-transform: translate3d(0%,0,0) rotateY(90deg);
	-ms-transform: translate3d(0%,0,0) rotateY(90deg);
	transform: translate3d(0%,0,0) rotateY(90deg);
}

.slide-fold-active .slide-fold-odd {
	-webkit-transform: translate3d(100%,0,0) rotateY(180deg);
	-moz-transform: translate3d(100%,0,0) rotateY(180deg);
	-o-transform: translate3d(100%,0,0) rotateY(180deg);
	-ms-transform: translate3d(100%,0,0) rotateY(180deg);
	transform: translate3d(100%,0,0) rotateY(180deg);
}

.slide-fold-active .slide-fold-even {
	-webkit-transform: translate3d(100%,0,0) rotateY(-180deg);
	-moz-transform: translate3d(100%,0,0) rotateY(-180deg);
	-o-transform: translate3d(100%,0,0) rotateY(-180deg);
	-ms-transform: translate3d(100%,0,0) rotateY(-180deg);
	transform: translate3d(100%,0,0) rotateY(-180deg);
}

.slide-fold-even > .slide-fold-shadow {
	width: 50%;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	-ms-transition: all .75s ease-out;
	transition: all .75s ease-out;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%);
	background: linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%);
}

.slide-fold-active .slide-fold-even > .slide-fold-shadow {
	opacity: 1;
	width: 300%;
	-webkit-transition: all .50s ease-in;
	-moz-transition: all .50s ease-in;
	-o-transition: all .50s ease-in;
	-ms-transition: all .50s ease-in;
	transition: all .50s ease-in;
	-webkit-transition-delay: .25s;
	-moz-transition-delay: .25s;
	-o-transition-delay: .25s;
	-ms-transition-delay: .25s;
	transition-delay: .25s;
}

/* Step Animation */
.slide-step-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.slide-step-item,
.slide-step-item-reverse {
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.slide-step-item {
	-webkit-transform: translateX(100%) translateZ(0);
	-moz-transform: translateX(100%) translateZ(0);
	-o-transform: translateX(100%) translateZ(0);
	-ms-transform: translateX(100%) translateZ(0);
	transform: translateX(100%) translateZ(0);
}

.slide-step-item-reverse {
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.slide-step-active.slide-step-item,
.slide-step-active.slide-step-item-reverse {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

/* Flip Animation */
.slide-flip-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.slide-flip-container .slide-flip-back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.slide-flip-container .slide-flip-back-reverse {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.slide-flip-container.slide-flip-active .slide-flip-back,
.slide-flip-container.slide-flip-active .slide-flip-front,
.slide-flip-container.slide-flip-active .slide-flip-back-reverse,
.slide-flip-container.slide-flip-active .slide-flip-front-reverse {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .75s ease-in;
	-moz-transition: -moz-transform .75s ease-in;
	-o-transition: -o-transform .75s ease-in;
	-ms-transition: -ms-transform .75s ease-in;
	transition: transform .75s ease-in;
}

.slide-flip-container.slide-flip-active .slide-flip-back {
	-webkit-transform: rotateX(0.000001deg) translateZ(0);
	-moz-transform: rotateX(0.000001deg) translateZ(0);
	-o-transform: rotateX(0.000001deg) translateZ(0);
	-ms-transform: rotateX(0.000001deg) translateZ(0);
	transform: rotateX(0.000001deg) translateZ(0);
}

.slide-flip-container.slide-flip-active .slide-flip-back-reverse {
	-webkit-transform: rotateX(-0.000001deg) translateZ(0);
	-moz-transform: rotateX(-0.000001deg) translateZ(0);
	-o-transform: rotateX(-0.000001deg) translateZ(0);
	-ms-transform: rotateX(-0.000001deg) translateZ(0);
	transform: rotateX(-0.000001deg) translateZ(0);
}

.slide-flip-container.slide-flip-active .slide-flip-front {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.slide-flip-container.slide-flip-active .slide-flip-front-reverse {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

/* Shutter Animation */
.slide-shutter-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.slide-shutter-container .slide-shutter-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.slide-shutter-container .slide-shutter-back-reverse {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.slide-shutter-container.slide-shutter-active .slide-shutter-back,
.slide-shutter-container.slide-shutter-active .slide-shutter-front,
.slide-shutter-container.slide-shutter-active .slide-shutter-back-reverse,
.slide-shutter-container.slide-shutter-active .slide-shutter-front-reverse {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .75s ease-in;
	-moz-transition: -moz-transform .75s ease-in;
	-o-transition: -o-transform .75s ease-in;
	-ms-transition: -ms-transform .75s ease-in;
	transition: transform .75s ease-in;
}

.slide-shutter-container.slide-shutter-active .slide-shutter-back {
	-webkit-transform: rotateY(0.000001deg) translateZ(0);
	-moz-transform: rotateY(0.000001deg) translateZ(0);
	-o-transform: rotateY(0.000001deg) translateZ(0);
	-ms-transform: rotateY(0.000001deg) translateZ(0);
	transform: rotateY(0.000001deg) translateZ(0);
}

.slide-shutter-container.slide-shutter-active .slide-shutter-back-reverse {
	-webkit-transform: rotateY(-0.000001deg) translateZ(0);
	-moz-transform: rotateY(-0.000001deg) translateZ(0);
	-o-transform: rotateY(-0.000001deg) translateZ(0);
	-ms-transform: rotateY(-0.000001deg) translateZ(0);
	transform: rotateY(-0.000001deg) translateZ(0);
}

.slide-shutter-container.slide-shutter-active .slide-shutter-front {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.slide-shutter-container.slide-shutter-active .slide-shutter-front-reverse {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* User editable styles
*********************************************************************
*/

#slider {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	border: 0px solid #fffefe;
	background-color: #1d1d1e;
}

.xb-slide .xb-slide-figure,
.xb-slide figure {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	text-align: center;
}

#slider .xb-slide-figcaption,
#slider figcaption {
	padding: 16px;
	bottom: 0px;
	text-align: left;
}

#slider .xb-slide-figcaption h1,
#slider figcaption h1 {
	font-family: Helvetica,"Helvetica Neue",Arial,"Nimbus Sans L",FreeSans,sans-serif;
	font-size: 34px;
	color: #fcfcfe;
	text-shadow: 1px 1px 1px #333;
}

#slider .xb-slide-figcaption p,
#slider figcaption p {
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",FreeSans,sans-serif;
	font-size: 20px;
	color: #f3efef;
	text-shadow: 1px 1px 1px #333;
	font-weight: bold;
}

#slider .slide-timer {
	bottom: 0px;
	visibility: visible;
	background-color: #262626;
}

#slider .slide-bullet-nav li {
	background-color: #cccccb;
	border-color: #878787;
}

#slider .slide-bullet-nav li:hover {
	background-color: #6b6a6c;
	border-color: #636363;
}

#slider .slide-bullet-nav li.slide-bullet-set {
	background-color: #fc8108;
	border-color: #343434;
}

#slider .slide-step-nav a,
#slider .slide-play-pause a {
	background-color: #e6e6e6;
	opacity: 0.31;
	filter: alpha(opacity=60); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; /*IE8*/
}

#slider .slide-play-pause a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}